.forcast-display {
  width: 100%;
}
.forecast-container {
  background: #323544af;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
  height: 580px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.carousel-control-next-icon {
  margin-right: -190px;
}
.carousel-control-prev-icon {
  margin-left: -190px;
}
.carousel-indicators li {
  display: none;
}
