.forcast-display {
  width: 100%;
}
.forecast-container {
  background: #323544;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
  height: 450px;
  position: relative;
}
.carousel-control-next-icon {
  margin-left: 150px;
}
.carousel-control-prev-icon {
  margin-right: 150px;
}
