.navbar .navbar-nav a {
  margin-left: 60px;
  margin-right: 60px;
  color: white !important;
}
.navbar .navbar-nav .home-menu {
  border-color: #009ad8;
  color: #009ad8;
  padding: 5px 25px;
  border: 2px solid #009ad8;
  border-radius: 30px;
  font-weight: 400;
}
