.find-location {
  position: relative;
  margin-bottom: 70px;
}
.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;
}

.find-location input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
}

input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
form input {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

form input[type="submit"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}
